@import "tailwindcss";

@layer base {
  :root {
    --primary: #06a2c2;
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .from-primary {
    --tw-gradieent-from: var(--primary);
  }
  .to-primary {
    --te-gradient-to: var(--primary);
  }

  .via-primary {
    --tw-gradient-via: var(--primary);
  }
}
